<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">About Me</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>
                I am a Data Scientist in Residence at The Data Incubator working out of the Bay Area Office.  In this capacity I get to help a bunch of really smart people learn some cool data science things and watch them begin their careers having had experience with modern tools and methodologies.  I also work on engineering the platform we use to deliver our educational content.
            </p>
            <p>
                I really like Python, both as a useful language and as a tool for teaching concepts.  Although I don't really like snakes, 
            </p>
            <p>
                I am interested in STEM education and pedagogy, particular where it relates to data science and physics (I used to be a physicist back in the day).  I like to rock climb and pretend that my cat listens to me.
            </p>
        </div>
    </div>
   

</div>

   

<!-- /.container -->
