<div class="container">
<script type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
<h1 class="page-header">Blog
                <small>Click on the name of a post to read</small></h1>
     <div class="row row-centered" ng-repeat = "post in posts">
         <div class="col-lg-12">
             
           <div ng-model="collapsed" ng-click="collapsed=!collapsed">
           <h2 class="page-header">{{post.name}}
               <div style="float: right; clear: right; margin: 10px;"><small>{{post.date}}</small></div>
            </h2>
            </div>
            
        </div>
        <div ng-show="collapsed">
        <div class="col-md-8 col-centered">
		    <div ng-bind-html = "post.content | markdown"></div>
		    <hr>
		</div>
        </div>
      
    </div>
</div>
<!-- /.container -->