<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Contact
            </h1>
            
        </div>

    </div>
    <!-- /.row -->

    <div class="row">


        <div class="col-sm-4">
           

            <p>Email: <a href="mailto:feedback@startbootstrap.com">zach.glassman@gmail.com</a></p>

            <p><a href="https://www.linkedin.com/profile/view?id=178337528">LinkedIn Profile</a></p>
            
            <p><a href="https://github.com/ZachGlassman">GitHub</a></p>
                        
        
               
            
        </div>

    </div>
    <!-- /.row -->

</div><!-- /.container -->