<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img class="img-responsive" height=200 src="/Images/me.jpg">
        </div>
        <div class="col-sm-6">
            <h2>Welcome</h2>

            <p>I am a Data Scientist in Residence at the Data Incubator in the lovely San Francisco Bay Area. I instruct people
                in all sorts of data sciency things ranging from machine learning to python to visualization while also working
                on software engineering projects.</p>

            <p>This site has information about me and some of the other projects I am working on.</p>
            <p>My resume can be found at
                <a href="/Images/zach_resume.pdf">here</a>.</p>
        </div>
    </div>
</div>