
<div class="container">

 <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Zachary Glassman
                <small></small>
            </h1>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive" height = 200 src="/Images/me.jpg">
        </div>
        <div class="col-md-6">
            <h2>Welcome to my website</h2>

            <p>I am graduate student in Chemical Physics at the University of Maryland, College Park researching Spinor Bose-
            Einstein condensation in the Laser Cooling and Trapping Group of NIST/JQI under Paul Lett</p>

            <p>This site has information about me, my research, and some of the other projects I am working on.</p>
            <p>My CV can be found <a href = "/Images/zachglassmancv.pdf">here</a>.</p>
        </div>

    </div>
</div>
