<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Zachary Glassman
                <small></small>
            </h1>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive" height=2 00 src="/Images/me.jpg">
        </div>
        <div class="col-md-6">
            <h2>Welcome to my website</h2>

            <p>I am a Data Scientist in Residence at the Data Incubator in the lovely San Francisco Bay Area.</p>

            <p>This site has information about me some of the other projects I am working on.</p>
            <p>My resume can be found at
                <a href="/Images/zach_resume.pdf">here</a>.</p>
        </div>

    </div>
</div>