<!-- Page Content -->

<div class="container">

    <!-- Service Images -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Notes</h2>
        </div>
        Here are some notes I have compiled during my education.  I do not guarentee completeness, but they should be mostly correct.

        <div class="col-sm-4">
            <h3>S=Real Analysis I</h3>

            <p>First course in undergraduate analysis. These notes follow Rudin and contain:</p>
                <ul style = "list-style-type:circle">
                    <li>Continuity and uniform continuity of sequences and functions</li>
                    <li>Differential in one dimension</li>
                    <li>Integration in one dimension</li>
                </ul>
            
            
            <a class="button" href = "/Images/131Notes.pdf">Notes</a>
        </div>
        <div class="col-sm-4">
            <h3>Real Analysis II</h3>

            <p>Second course in undergraduate analysis.</p>
                <ul style = "list-style-type:circle">
                    <li>Space of Continuous Functions</li>
                    <li>Differentiation in n-dimensions</li>
                    <li>Integration in n-dimensions</li>
                    <li>Fixed Point Theory</li>
                    <li>Approximation Theory</li>
                </ul>
            
            
            <a class="button" href = "/Images/132Notes.pdf">Notes</a>
        </div>
        
        <div class="col-sm-4">
            <h3>Complex Analysis</h3>

            <p>First course in undergraduate Complex Analysis</p>
                <ul style = "list-style-type:circle">
                    <li>Complex numbers</li>
                    <li>Series and sequences of complex numbers</li>
                    <li>Cauchy's theorem and applications</li>
                    <li>Laurent and Taylor expansions</li>
                    <li>Calculus of Residues</li>
                </ul>
            
            
            <a class="button" href = "/Images/135Notes.pdf">Notes</a>
        </div>

    
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->




## Measure Theory
First course in graduate analysis.  Course follows Stein and Shakarchi.

* Measureable sets
* Measurable functions
* Lebesgue integration
* Lebesgue differential
* L<sup>p</sup> spaces

{{< blink link = "/images/Math137Notes.pdf" text = "Get Notes" >}}
***

## Quantum Mechanics I
I started these late into the class, so they miss some of the very basics.  First course in graduate Quantum Mechanics.  Course follows Sakurai.

* Quantum Harmonic Oscillator
* Shrodinger Wave Equation
* WKB Approximation
* Path Integrals
* Angular Momentum
* Spherical Harmonics
* Radial Equation
* Angular Momentum Addition
* Spherical Tensors

{{< blink link = "/images/Quantum_Notes.pdf" text = "Get Notes" >}}
***
## Quantum Mechanics II
Second course in graduate Quantum Mechanics.  Course follows Sakurai.

* Time Independent Perturbation Theory
* Variational Method
* Time Dependant Perturbation Theory
* Scattering Theory
* Born Approximation
* Partial Wave Expansion
* Scattering Resonance
* Eikonal Approximation
* Inelastic Scattering
* Idential Particles
* Multi-Electron Atoms

{{< blink link = "/images/Quantum2_Notes.pdf" text = "Get Notes" >}}
***

## Statistical Mechanics
Course in graduate Statistical Mechanics. Course follows Chandler.

* Microcanonical Ensemble
* Canonical Ensemble
* Probability Distributions
* Ideal Non-Interacting Systems
* Lattice Vibrations
* Interacting Particles
* Ising Model
* Phase Transitions

{{< blink link = "/images/Stat_Mech_Notes.pdf" text = "Get Notes" >}}
***

## Quantum Chemistry II
Second graduate course in Quantum Chemistry.

* Approximatoin Methods
* Atomic Electronic Structure
* Slater Determinants
* Molecular Electronc Structure
* Spectroscopic Theory

{{< blink link = "/images/QuantumChemistry2Notes.pdf" text = "Get Notes" >}}
***

## Mathematical Methods for Physicists
Graduate level course in mathematics necessary for physics.  These notes missed most of the complex analysis part of the course.

* Approximation Methods for Integrals
* Ordinary Differential Equations
* Perturbation Theory
* Green's Functions
* Sturn-Liouville Theory
* Partial Differential Equations

{{< blink link = "/images/MathMethodsNotes.pdf" text = "Get Notes" >}}
***