<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-header">Notes</h2>
        </div>
        Here are some notes I have compiled during my education. I do not guarantee completeness, but they should be mostly correct.
    </div>
    <div class="row">
        <div class="card-columns">
            <div class="card">
                <h3 class="card-header">Real Analysis I</h3>
                <div class="card-body">
                    <p>First course in undergraduate analysis. These notes follow Rudin and contain:</p>
                    <ul style="list-style-type:circle">
                        <li>Continuity and uniform continuity of sequences and functions</li>
                        <li>Differential in one dimension</li>
                        <li>Integration in one dimension</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="/Images/131Notes.pdf">Notes</a>
                </div>
            </div>
            <div class="card">
                <h3 class="card-header">Real Analysis II</h3>
                <div class="card-body">
                    <p>Second course in undergraduate analysis.</p>
                    <ul style="list-style-type:circle">
                        <li>Space of Continuous Functions</li>
                        <li>Differentiation in n-dimensions</li>
                        <li>Integration in n-dimensions</li>
                        <li>Fixed Point Theory</li>
                        <li>Approximation Theory</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="/Images/132Notes.pdf">Notes</a>
                </div>
            </div>
            <div class="card">
                <h3 class="card-header">Complex Analysis</h3>
                <div class="card-body">
                    <p>First course in undergraduate Complex Analysis</p>
                    <ul style="list-style-type:circle">
                        <li>Complex numbers</li>
                        <li>Series and sequences of complex numbers</li>
                        <li>Cauchy's theorem and applications</li>
                        <li>Laurent and Taylor expansions</li>
                        <li>Calculus of Residues</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="/Images/135Notes.pdf">Notes</a>
                </div>
            </div>
            <div class="card">
                <h3 class="card-header"> Measure Theory</h3>
                <div class="card-body">
                    <p>First course in graduate analysis. Course follows Stein and Shakarchi.</p>
                    <ul style="list-style-type:circle">
                        <li>Measureable sets</li>
                        <li>Measurable functions</li>
                        <li>Lebesgue integration</li>
                        <li>Lebesgure differentiation</li>
                        <li>L
                            <sup>p</sup> spaces</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="/Images/Math137Notes.pdf">Notes</a>
                </div>
            </div>
            <div class="card">
                <h3 class="card-header"> Quantum Mechanics I</h3>
                <div class="card-body">
                    <p>I started these late into the class, so they miss some of the very basics. First course in graduate Quantum
                        Mechanics. Course follows Sakurai.</p>
                    <ul style="list-style-type:circle">
                        <li>Quantum Harmonic Oscillator</li>
                        <li>Shrodinger Wave Equation</li>
                        <li>WKB approximation</li>
                        <li>Path Integrals</li>
                        <li>Angular Momentum</li>
                        <li>Spherical Harmonics</li>
                        <li>Radial Shrodinger Equation</li>
                        <li>Angular Momentum Addition</li>
                        <li>Spherical Tensors</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="/Images/Quantum_Notes.pdf">Notes</a>
                </div>
            </div>
            <div class="card">
                <h3 class="card-header"> Quantum Mechanics II</h3>
                <div class="card-body">
                    <p>Second course in graduate Quantum Mechanics. Course follows Sakurai.</p>
                    <ul style="list-style-type:circle">
                        <li>ime Independent Perturbation Theory</li>
                        <li>Variational Method</li>
                        <li>Time Dependant Perturbation Theory</li>
                        <li>Scattering Theory</li>
                        <li>Born Approximation</li>
                        <li>Partial Wave Expansion</li>
                        <li>Scattering Resonance</li>
                        <li>Eikonal Approximation</li>
                        <li>Inelastic Scattering</li>
                        <li>Idential Particles</li>
                        <li>Multi-Electron Atoms</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="/Images/Quantum2_Notes.pdf">Notes</a>
                </div>
            </div>
            <div class="card">
                <h3 class="card-header"> Statistical Mechanics</h3>
                <div class="card-body">
                    <p>Course in graduate Statistical Mechanics. Course follows Chandler.</p>
                    <ul style="list-style-type:circle">
                        <li>Microcanonical Ensemble</li>
                        <li>Canonical Ensemble</li>
                        <li>Probability Distributions</li>
                        <li>Ideal Non-Interacting Systems</li>
                        <li>Lattice Vibrations</li>
                        <li>Interacting Particles</li>
                        <li>Ising Model</li>
                        <li>Phase Transitions</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="/Images/Stat_Mech_Notes.pdf">Notes</a>
                </div>
            </div>
            <div class="card">
                <h3 class="card-header">Quantum Chemistry II</h3>
                <div class="card-body">
                    <p>Second graduate course in Quantum Chemistry.</p>
                    <ul style="list-style-type:circle">
                        <li>Approximatoin Methods</li>
                        <li>Atomic Electronic Structure</li>
                        <li>Slater determinants</li>
                        <li>Molecular Electronc Structure</li>
                        <li>Spectroscopic Theory</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="/Images/QuantumChemistry2Notes.pdf">Notes</a>
                </div>
            </div>
            <div class="card">
                <h3 class="card-header">Mathematical Methods for Physicists</h3>
                <div class="card-body">
                    <p>Graduate level course in mathematics necessary for physics. These notes lack most of the complex analysis
                        part of the course.
                    </p>
                    <ul style="list-style-type:circle">
                        <li>Approximation Methods for Integrals</li>
                        <li>Ordinary Differential Equations</li>
                        <li>Perturbation Theory</li>
                        <li>Green's Functions</li>
                        <li>Sturn-Liouville Theory</li>
                        <li>Partial Differential Equations</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="/Images/MathMethodsNotes.pdf">Notes</a>
                </div>
            </div>
            <div class="card">
                <h3 class="card-header">Laser Cooling Notes Les Houches</h3>
                <div class="card-body">
                    <p>Notes from the Les Houches summer school on Quantum Gases on lectures spanning the field given by a diverse
                        group of physicists. </p>
                    <ul style="list-style-type:circle">
                        <li>Elastic interactions (Jook Walraven)</li>
                        <li>Laser Cooling and Trapping (Philippe Verkerk)</li>
                        <li>Degenerate Gases (Dmitry Petrov)</li>
                        <li> Optical Lattices (Helene Perrin)</li>
                        <li>Ultracold Fermi Gases in Optical Latices (Leticia Tarruell)</li>
                        <li>Quantum Interference in Scattering (Jook Walraven)</li>
                        <li> Cold Rydberg Atoms (Thierry Lahaye)</li>
                        <li>Dipolar Gases (Bruno Laburthe-Tolra)</li>
                        <li>Gauge fields in optical lattices (Trey Porto)</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="/Images/Les_Houches.pdf">Notes</a>
                </div>
            </div>
        </div>
    </div>
</div>