<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Projects
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <h2>LaTeX Tutorial</h2>
                <p>LaTeX is a language used to produce high quality documents.  I wrote a simple tutorial for using it which can be found <a href = "/LaTexTutorial/latextutorialmain.html">here</a>.</p>
        </div>
        <div class="col-sm-4">
            <h2>Unit Circle App</h2>
                <p>Simple app illustrating the unit circle.  It can be found
                <a href = "/PhysicsApps/unitcircle.html">here</a>.</p>
        </div>
        <div class="col-sm-4">
            <h2>Vectors App</h2>
                <p>Simple app illustrating vectors.  It can be found at
                <a href = "/PhysicsApps/vectors.html">here</a>.  Click and drag either end of the black arrow to learn about vector components.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h2>Qualifer Flashcards</h2>
                <p>Flashcards for my qualifying exam can be found at <a href = "/FlashCards/flashcards.html">here</a>.</p>
        </div>
    </div>

</div>
<!-- /.container -->
