<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Research
                <small>Spinor Bose-Einstein Condensation</small>
            </h1>
            
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive" src="/Images/becthermcompare-1.png">
            <p>Comparison of the density profiles of a BEC and a normal
            thermal cloud.  This peaked profile is the signature of the
            phase transition.</p>
        </div>
        <div class="col-md-6">
            <h2>Overview</h2>
                <p>Bose Einstein condensation is a phase of matter that occurs at ultra low temperatures and ultra high densities.  It was predicted by
                Bose and Einstein in the early 20th century, but took until 1995 to realize experimentally.  Many scientific advances such as the laser,
                ultra-high vaccuum components, and hardware for precision timing and control of radiation as well as the development
                of many experimental techniques such as laser cooling and trapping were necessary to achieve this goal.</p>
                <p>Twenty years later, we are still pursuing the weath of information contained in this quantum phase.  The primary reason for this is an
                ultra clean environment for exploring quantum physics.  Physics at the quntum level is governed by the Shrodinger equation which for almost
                any real system is impossible to solve.  Thus, we must study the most simple systems, in our case, sodium atoms in ultra high vaccum.</p>
                <p>Our lab attempts to draw parallels between quantum effects present in light particles (photons) and their matter counterparts (atoms).  We laser cool and trap sodium atoms to almost absolute zero and allow the system to evolve through magnetization and spin conserving collisions.  This is an analouge of a type of four wave mixing.</p>
                <p>Since the ground state of sodium has total spin 1, there are three magnetic sub-levels,(1,0,-1).  Using the quadratic zeeman shift (affecting the 1,-1) states equally, we can have collisions between two m=0 atoms producing a +1,-1 pair and also the inverse process.  These processes cause the populations of each sublevel to oscillate sinusoidally.</p>
                <p>Perhaps suprisingly, these same processes can also be observed in a cold thermal cloud.  Currently we are working on investgating the effects of missing these two phases.</p>
        </div>

    </div>
    
    <div class="col-lg-12">
            <h1 class="page-header">Past Research
                <small>Diatomic Molecular Spectroscopy</small>
            </h1>
            <p>At Pomona college, I worked on the spectroscopy of heavy diatomic radicals such as YbF and PbF. </p>
    </div>


    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive" src="http://placehold.it/750x450">
        </div>
        <div class="col-md-6">
            <h2>Under Construction</h2>
            Will build this soon.
        </div>

    </div>
    
    
    <div class="col-lg-12">
            <h1 class="page-header">Past Research
                <small>Universal Metric Spaces</small>
            </h1>
            <h3><b>Publications</b></h3>
			<p>Aksoy AG, Glassman Z., Kosheleva O., Kreinovich V. ,&quot;From Urysohn&#39;s Universal Metric Space to a Universal Space-Time,&quot; <i>Mathematical Structures and Modeling</i>, Vol.2. No.28, 2013, pages 28-34</p>
			<h3>Metric Spaces</h3>
			<p>
            Some common metric spaces are the normal Euclidean space with the metric $d(x,y)=|y-x|$.  Another interesting metric is the discrete metric in which $d(x,y)=0$ if $x=y$ and $d(x,y)=1$ if $x\neq y$.  Metric spaces can also be described as a space where we can define a suitable distance function in the sense that there must be a minimum distance between any two points in the space.</p>
            
            <p>It is known that there are many universal metric spaces in the sense that they contain an isometric embedding of every metric space of a certain type.  In the case of Urysohn space, it contains an isometric property of every complete separable metric space.</p>
			<br>
            <p>There are several construction of such a universal space, the first due to P.S. Urysohn himself in the 1920&#39;s.  Sadly, Urysohn died before he could finish his work and although his construction survives, its full implications, at least as he conceived them remain unclear.</p>
            <p>We seek to study this construction, especially as it relates to the more used functional constructions and see if it can offer more insight into universality and metric spaces in general.</p>

            <h3>Ultrahomogeneous Spaces</h3>
		
	
            <p>Another property of the Urysohn space is ultrahomogeneity, which states that an isomorphism between two finite subspaces can be extended to an automorphism of the entire group.  This is intrinsically related to the separability of the space which intuitively speaking the idea that the space has no &quot;holes&quot; or &quot;gaps.&quot;  This property is the primary difference between other universal spaces such as $l^\infty$ and $c[0,1]$ (the space of continuous functions on the interval $[0,1]$ with the supremum norm).  By comparing this properties of these other universal spaces in the context of this ultrahomogeneity property, we can also understand more about Urysohn space.</p>
            <h3>Connection to General Relativity</h3>

            <p>Like any mathematical space, there is an underlying geometry to General Relativity.  Unlike the Newtonian gravitational theory which states any two objects with mass will exert forces on each other, General Relativity says that the geometry of space-time what induces the effect we perceive as gravity.  Space-time is a four-dimensional space (technically a time-oriented Lorentzian Manifold) where objects &quot;fall&quot; along curves in spacetime determined by the mass-energy of other objects.</p>
            <p>John Wheeler summarized it quite well when he said &quot;spacetime tells matter how to move and matter tells spacetime how to curve.&quot;  General relativity is the study of this phenomena and produces many observed effects such as the precession of the perihelion and the bending of light and some yet unobserved effects such as gravitational waves.</p>
            <p>While in a general metric space, we can describe a distance between two points as the minimum of a suitably defined metric function, in a space-time we cannot ever find a suitable function.  This results from the way proper time must be defined to be consistent relativistically.  Instead, we can define a maximal proper time between two events and general relativity says that an object follows a geodesic along this path.  This results in a distance function defined with the reverse triangle inequality, $d(x,y)\geq d(x,z)+d(z,y)$ and no symmetry.</p>
            <p>Our project is to study this space in terms of its universality and ultrahomogeneity from a purely mathematical standpoint and then see if we can extract physical meaning from this analysis.  We have so far proved that there is in fact a universal space-time with suitable restriction using concepts from model theory.</p>
            <p>Future projects are organized around studying the one point extension properties of these spaces.  </p>



    </div>



   
</div>
<!-- /.container -->
