<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Research
                <small>Spinor Bose-Einstein Condensation</small>
            </h1>
            
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive" src="/Images/becthermcompare-1.png">
            <p>Comparison of the density profiles of a BEC and a normal
            thermal cloud.  This peaked profile is the signature of the
            phase transition.</p>
        </div>
        <div class="col-md-6">
            <h2>Overview</h2>
                <p>Bose Einstein condensation is a phase of matter that occurs at ultra low temperatures and ultra high densities.  It was predicted by
                Bose and Einstein in the early 20th century, but took until 1995 to realize experimentally.  Many scientific advances such as the laser,
                ultra-high vaccuum components, and hardware for precision timing and control of radiation as well as the development
                of many experimental techniques such as laser cooling and trapping were necessary to achieve this goal.</p>
                <p>Twenty years later, we are still pursuing the weath of information contained in this quantum phase.  The primary reason for this is an
                ultra clean environment for exploring quantum physics.  Physics at the quntum level is governed by the Shrodinger equation which for almost
                any real system is impossible to solve.  Thus, </p>
        </div>

    </div>
    
    <div class="col-lg-12">
            <h1 class="page-header">Past Research
                <small>Diatomic Molecular Spectroscopy</small>
            </h1>
            
    </div>


    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive" src="http://placehold.it/750x450">
        </div>
        <div class="col-md-6">
            <h2>Under Construction</h2>
            Will build this soon.
        </div>

    </div>
    
    
    <div class="col-lg-12">
            <h1 class="page-header">Past Research
                <small>Universal Metric Spaces</small>
            </h1>
            
    </div>


    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive" src="http://placehold.it/750x450">
        </div>
        <div class="col-md-6">
            <h2>Under Construction</h2>
            Will build this soon.
        </div>

    </div>

   
</div>
<!-- /.container -->
